:root {
    --primary-color: #bdbdbd;
    --primary-color-dark: #8d8d8d;
    --primary-color-light: #efefef;
    --secondary-color: #303f9f;
    --secondary-color-dark: #001970;
    --secondary-color-light: #666ad1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Monaco, Andale Mono, monospace;
    font-size: 16px;
}

body {
    background-color: var(--primary-color-light);
}

.header {
    width: 100%;
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    text-align: center;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display:flex;
    flex-direction:row;
    margin: 5px 10%;
}

.input {
    border-bottom: 2px solid var(--secondary-color-dark) !important;
    margin-right: 1em;
}

input[type="text"] {
    flex-grow: 2;
    padding: 0.3em;
    border: none;
    font-size: 16px;
    font-family: Monaco, Andale Mono, monospace;
    background-color: var(--primary-color-light);
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

button:active{
    /* border: 2px solid #ff6d60; */
    background-color: var(--primary-color);
}

button {
    padding: 0.3em;
    border: 2px solid var(--secondary-color-dark);
    background-color: var(--primary-color-light);
    border-radius: 0px;
    font-size: 16px;
    text-transform: uppercase;
    width: 10em;
}

.search-button{
    margin: 5px 10%;
}

img {
    width: 64px;
    height: 64px;
    margin: 5px;
    background: url(loading.gif) 50% no-repeat;
}

.grid {
    display: grid;
    grid-auto-columns: max-content;
}

.col-1 {
    margin-right: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    grid-column-start: 1;
    grid-column-end: 2;
}
.col-2 {
    margin-right: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    grid-column-start: 2;
    grid-column-end: 3;
}
.col-3 {
    margin-right: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    grid-column-start: 3;
    grid-column-end: 4;
}

#result {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center; /* align horizontal */
    align-items: center;
    margin: 15px;
}

#resultDescription {
    text-decoration-line: underline;
}

#description-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* align horizontal */
    align-items: center;
}



    


